# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\sudy\springcloud-gataway\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
